MARIADB_ROOT_PASSWORD=root
MARIADB_DATABASE=app
MARIADB_USER=app
MARIADB_PASSWORD=root
MARIADB_PORT=3306
MARIADB_HOST=mariadb
APP_ENV=development
APP_DISPLAY_ERROR_DETAILS=true
USERNAME=
PASSWORD=
GEMINI_API_KEY=your_gemini_api_key_here